<div class="container">
  <ul class="row row-gap-6">
    <li class="col-10 col-md-6 col-lg-3 mx-auto">
      <div class="service-bg rounded-4 d-flex flex-column align-items-center justify-content-center text-center">
        <div class="position-absolute start-0 end-0 top-0 bottom-0 d-flex flex-column justify-content-center align-items-center">
          <img class="mb-6" src="/assets/images/service-item-visual.svg" alt="visual">
          <p class="fs-3 fw-bold text-white">平面設計</p>
        </div>
      </div>
    </li>
    <li class="col-10 col-md-6 col-lg-3 mx-auto">
      <div class="service-bg rounded-4 d-flex flex-column align-items-center justify-content-center text-center">
        <div class="position-absolute start-0 end-0 top-0 bottom-0 d-flex flex-column justify-content-center align-items-center">
          <img class="mb-6" src="/assets/images/service-item-ui.svg" alt="ui">
          <p class="fs-3 fw-bold text-white">UI 設計</p>
        </div>
      </div>
    </li>
    <li class="col-10 col-md-6 col-lg-3 mx-auto">
      <div class="service-bg rounded-4 d-flex flex-column align-items-center justify-content-center text-center">
        <div class="position-absolute start-0 end-0 top-0 bottom-0 d-flex flex-column justify-content-center align-items-center">
          <img class="mb-6" src="/assets/images/service-item-html&css.svg" alt="html&css">
          <p class="fs-3 fw-bold text-white">切版服務</p>
        </div>
      </div>
    </li>
    <li class="col-10 col-md-6 col-lg-3 mx-auto">
      <div class="service-bg rounded-4 d-flex flex-column align-items-center justify-content-center text-center">
        <div class="position-absolute start-0 end-0 top-0 bottom-0 d-flex flex-column justify-content-center align-items-center">
          <img class="mb-6" src="/assets/images/service-item-front-end.svg" alt="front-end">
          <p class="fs-3 fw-bold text-white">前端開發</p>
        </div>
      </div>
    </li>
  </ul>   
</div>