.service-bg {
  background-image: url(/assets/images/service-item-bg.png);
  // background: linear-gradient(315deg, #1E1E1E 0%, #1E1E1E 49.97%, #000000 50%);
  padding: 0 30px;
  padding-top: 100%;
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}