.introduction {
  max-width: 1920px;
  padding-left: 12px;
  @include pc {
    padding: 0;
    flex-direction: column-reverse;
  }
}

.underline-1::after {
  position: absolute;
  content: "";
  background-image: url(/assets/images/mark.png);
  background-size: contain;
  width: 148px;
  height: 8px;
  bottom: 0px;
  left: 0;
  z-index: -1;
}

.underline-2::after {
  position: absolute;
  content: "";
  background-image: url(/assets/images/mark.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 119px;
  height: 8px;
  bottom: 0px;
  left: 0;
  z-index: -1;
}

.social-icon {
  @include pc {
    width: 40px;
    height: 40px;
  }
}

.hero-lg {
  max-width: 1154px;
  width: 61%;
}

.service-title-text {
  background: $primary-100;
}

.journey {
  background-image: url(/assets/images/homepage-work1-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.journey-img, .beauty-img {
  max-width: 714px;
  width: 55.093%;
  @include pad {
    max-width: 295px;
    margin-top: 93px;
  }
}

.work-content {
  width: 526px;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 10%);
  backdrop-filter: blur(8px);
  @include pc {
    width: 100%;
    border-radius: 0;
    background-color: #fff;
    backdrop-filter: blur(0px);
  }
}

.work-border {
  border-bottom: 1px solid $primary-200;
  @include pc {
    border-bottom: 0;
  }
}

.work-content-title {
  color: $white;
  @include pc {
    color: $primary-800;
  }
}

.work-content-text {
  color: $white;
  @include pc {
    color: $primary-600;
  }
}

.tag-color {
  color: $primary-700;
  background-color: $white;
  &:hover {
    color: $white;
    background-color: $primary-800;
  }
  @include pc {
    background-color: $primary-200;
  }
}

.intro-btn {
  width: 176px;
  border-radius: 5px;
  color: $white;
  background: #000;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  &:hover {
    color: $white;
    background: $primary-700;
  }
}

.app {
  background-image: url(/assets/images/homepage-work2-lg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @include pc {
    height: 390px;
    background-image: url(/assets/images/homepage-work2-sm.png);
  }
}

.app-mask { 
  width: 50%;
  height: 800px;
  background-color: rgba(10, 16, 19, 50%);
  @include pc {
    display: none;
  }
}

.app-content {
  margin-right: 10%;
  @include pc-xl {
    margin-right: 5%;
    width: 90%;
  }
  @include pc {
    display: none;
  }
}

.beauty {
  background-image: url(/assets/images/homepage-work3-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.beauty-mask {
  width: 100%;
  height: 800px;
  background-color: rgba(13, 12, 7, 50%);
}

.beauty-img {
  margin-top: 176px;
}

.service {
  background-image: url(/assets/images/homepage-services-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.service-item {
  background-image: url(/assets/images/service-item-bg.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 306px;
  height: 306px;
}

.service-item img {
  max-width: 80px;
  // height: 80px;
}

.service-btn {
  border-radius: 5px;
  color: $white;
  background-color: $primary;
  &:hover {
    color: $white;
    background-color: $primary-700;
  }
}

.articleInfo {
  padding: 0 4px;
}

.articleTitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 16px;
}

.articleContent {
  display: flex;
  justify-content: space-between;
}

.articleContent p {
  padding: 4px 0;
}

.articleContent p:first-child {
  background-color: #f1f1f1;
  padding: 4px 12px;
  border-radius: 16px;
}

.articleImg {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 16px;
}

.swiper {
  padding-bottom: 52px;
}

.swiper-pagination {
   bottom: 0 !important; /* 注意 */
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 0 8px !important;
}

.swiper-pagination-bullet-active {
  background: #000000;
}

@media (max-width: 768px) {
  .swiper {
    padding-bottom: 0;
    margin-bottom: -8px;
  }
  
  .swiper-slide {
    margin-bottom: 48px;
  }

  .swiper-slide:nth-child(n + 4) {
    display: none;
  }

  .swiper-pagination {
    display: none;
  }

  .articleBtn {
    padding: 8px 16px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 4px;
    font-weight: 700;
    &:hover {
      color: $white;
      background-color: $primary-700;
    }
  }
}