<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>作品集</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <!-- banner -->
    <section class="bg-primary-100 mt-14 mt-md-24">
      <div class="container py-20 text-center text-primary-800">
        <div class="slogan z-1 fs-5 mb-10 mb-md-6">
          <p class="quote mb-4">讓使用者在觀賞與使用的旅程中，發現<span class="mark1 underline-3">設計的價值</span></p>
          <p>而我在設計與開發的過程中，看見<span class="mark2 underline-3">自己的價值</span></p>
        </div>

        <div class="experience d-flex gap-5 gap-md-10">
          <div>
            <p class=" text-primary-600">2B經驗</p>
            <span class="underline-4 d-block text-center mt-1 mb-2 mx-auto border border-2 border-bottom border-primary-400"></span>
            <p class="text-primary-700">內部監控系統、庫存系統、採購系統、行銷整合系統</p>
          </div>
          <div>
            <p class="mb-2 text-primary-600">2C經驗</p>
            <span class="underline-4 d-block text-center mt-1 mb-2 mx-auto border border-2 border-bottom border-primary-400"></span>
            <p class="text-primary-700">跨國美妝保養電商、個人品牌網站、醫美網站、電子商務</p>
          </div>
        </div>
      </div>
    </section>

    <!-- design card -->
    <section class="py-20 py-md-30">
      <div class="container">
        <ul class="row justify-content-center">
          <!-- card-1 -->
          <li class="col-10 col-md-6 mb-12 mb-md-20">
            <div data-bs-toggle="modal" data-bs-target="#exampleModal">
              <a href="#">
                <img class="mb-4 rounded-3" src="/assets/images/work-image1.png" alt="星際旅行訂票平台" />
                <h5 class="card-title mb-2 ms-4">星際旅行訂票平台</h5>
                <p class="card-text mb-4 mb-md-6 ms-4">
                  悠遊宇宙的夢想，從這裡開始實現
                </p>
              </a>   
            </div>                     
            <ul class="card-tag d-flex gap-2 gap-md-4 ms-4">
              <li >
                <a class="tag rounded-pill px-3 py-1" href="#">網頁設計</a>
              </li>
              <li >
                <a class="tag rounded-pill px-3 py-1" href="#">響應式設計</a>
              </li>
              <li >
                <a class="tag rounded-pill px-3 py-1" href="#">Bootstrap</a>
              </li>
            </ul>
          </li>
          <!-- card-1 Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div class="px-8 px-md-10 ms-auto pt-8">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-head py-6 py-md-1">
                  <div class="text-center  mb-6 mb-md-10">
                    <h3 class="modal-title fs-3 text-primary-700" id="exampleModalLabel">星際旅行訂票平台</h3>
                    <p class="modal-slogan">悠遊宇宙的夢想，從這裡開始實現</p>
                  </div>
                  <div class="modal-introduce px-14 d-flex mb-6 mb-md-0">
                    <div class="pe-18 mb-6 mb-md-0">
                      <p class="text-primary-800">STAR TRAVEL 為 KK 公司宇宙旅行的購票網站。<br>
                        主要從地球出發，目的地包含月球、火星、水星、木星；未來太空轉運站建<br>置完畢，將再擴增目的地土星和金星。</p>
                    </div>
                    <div class="modal-principle box-shadow-left ps-6 text-primary-600">
                      <p class="mb-2">設計原則：宇宙旅行、深色背景、強烈視覺效果</p>
                      <p>開發方式：Bootstrap、Javascript、RWD</p>
                    </div>
                    <div class="modal-principle-mobile d-md-none text-primary-600 py-6 text-center">
                      <p class="mb-1">設計原則</p>
                      <p class="mb-6">宇宙旅行、深色背景、強烈視覺效果</p>
                      <p class="mb-1">開發方式</p>
                      <p >Bootstrap、Javascript、RWD</p>
                    </div>
                  </div>
                </div>
                <div class="py-10 py-md-20">
                  <ul>
                    <li class="text-center mb-14">
                      <img class="mb-4 mb-md-6 rounded-5" src="/assets/images/modal-image1.png" alt="主視覺">
                      <h4 class="fs-4 text-primary-800 mb-2 mb-md-4">主視覺</h4>
                      <p class="text-primary-600">可直接設定日期、起迄星球、張數，快速查詢可購買的票券。</p>
                    </li>
                    <li class="text-center">
                      <img class="mb-4 mb-md-6 rounded-5" src="/assets/images/modal-image1.png" alt="主視覺">
                      <h4 class="fs-4 text-primary-800 mb-2 mb-md-4">推薦查詢</h4>
                      <p class="text-primary-600">給予最快起飛，以及最熱門的景點推薦，協助使用者進行選擇。</p>
                    </li>
                  </ul>
                  
                </div>
              </div>
            </div>
          </div>

          <!-- card-2 -->
          <li class="col-10 col-md-6 mb-12 mb-md-20">
            <div data-bs-toggle="modal" data-bs-target="#exampleModal-2">
              <a href="#">
                <img class="mb-4 rounded-3" src="/assets/images/work-image2.png" alt="理財App" />
                <h5 class="card-title mb-2 ms-4">理財App</h5>
                <p class="card-text mb-4 mb-md-6 ms-4">
                  連動帳戶與行動支付，讓 AI 提供您最好的理財建議
                </p>
              </a>   
            </div>                     
            <ul class="card-tag d-flex gap-2 gap-md-4 ms-4">
              <li >
                <a class="tag rounded-pill px-3 py-1" href="#">APP設計</a>
              </li>
              <li >
                <a class="tag rounded-pill px-3 py-1" href="#">iOS</a>
              </li>
              <li >
                <a class="tag rounded-pill px-3 py-1" href="#">React</a>
              </li>
            </ul>
          </li>
          <!-- card-2 Modal -->
          <div class="modal fade" id="exampleModal-2" tabindex="-1" aria-labelledby="exampleModalLabel-2" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div class="px-8 px-md-10 ms-auto pt-8">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-head py-6 py-md-1">
                  <div class="text-center  mb-6 mb-md-10">
                    <h3 class="modal-title fs-3 text-primary-700" id="exampleModalLabel">              <h5 class="card-title mb-2">理財App</h5>
                    </h3>
                    <p class="modal-slogan">連動帳戶與行動支付，讓 AI 提供您最好的理財建議</p>
                  </div>
                  <div class="modal-introduce px-14 d-flex mb-6 mb-md-0">
                    <div class="pe-18 mb-6 mb-md-0">
                      <p class="text-primary-800">STAR TRAVEL 為 KK 公司宇宙旅行的購票網站。<br>
                        主要從地球出發，目的地包含月球、火星、水星、木星；未來太空轉運站建<br>置完畢，將再擴增目的地土星和金星。</p>
                    </div>
                    <div class="modal-principle box-shadow-left ps-6 text-primary-600">
                      <p class="mb-2">設計原則：宇宙旅行、深色背景、強烈視覺效果</p>
                      <p>開發方式：Bootstrap、Javascript、RWD</p>
                    </div>
                    <div class="modal-principle-mobile d-md-none text-primary-600 py-6 text-center">
                      <p class="mb-1">設計原則</p>
                      <p class="mb-6">宇宙旅行、深色背景、強烈視覺效果</p>
                      <p class="mb-1">開發方式</p>
                      <p >Bootstrap、Javascript、RWD</p>
                    </div>
                  </div>
                </div>
                <div class="py-10 py-md-20">
                  <ul>
                    <li class="text-center mb-14">
                      <img class="mb-4 mb-md-6 rounded-5" src="/assets/images/modal-image1.png" alt="主視覺">
                      <h4 class="fs-4 text-primary-800 mb-2 mb-md-4">主視覺</h4>
                      <p class="text-primary-600">可直接設定日期、起迄星球、張數，快速查詢可購買的票券。</p>
                    </li>
                    <li class="text-center">
                      <img class="mb-4 mb-md-6 rounded-5" src="/assets/images/modal-image1.png" alt="主視覺">
                      <h4 class="fs-4 text-primary-800 mb-2 mb-md-4">推薦查詢</h4>
                      <p class="text-primary-600">給予最快起飛，以及最熱門的景點推薦，協助使用者進行選擇。</p>
                    </li>
                  </ul>
                  
                </div>
              </div>
            </div>
          </div>

          <!-- card-3 -->
          <li class="col-10 col-md-6 mb-12 mb-md-20">
            <div data-bs-toggle="modal" data-bs-target="#exampleModal-3">
              <a href="#">
                <img class="mb-4 rounded-3" src="/assets/images/work-image3.png" alt="醫美診所官網" />
                <h5 class="card-title mb-2 ms-4">醫美診所官網</h5>
                <p class="card-text mb-4 mb-md-6 ms-4">
                  永保青春的秘密，從粹究開始
                </p>
              </a>   
            </div>                     
            <ul class="card-tag d-flex gap-2 gap-md-4 ms-4">
              <li >
                <a class="tag rounded-pill px-3 py-1" href="#">APP設計</a>
              </li>
              <li >
                <a class="tag rounded-pill px-3 py-1" href="#">iOS</a>
              </li>
              <li >
                <a class="tag rounded-pill px-3 py-1" href="#">React</a>
              </li>
            </ul>
          </li>
          <!-- card-3 Modal -->
          <div class="modal fade" id="exampleModal-3" tabindex="-1" aria-labelledby="exampleModalLabel-3" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div class="px-8 px-md-10 ms-auto pt-8">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-head py-6 py-md-1">
                  <div class="text-center  mb-6 mb-md-10">
                    <h3 class="modal-title fs-3 text-primary-700" id="exampleModalLabel"><h5 class="card-title mb-2">醫美診所官網</h5>
                    </h3>
                    <p class="modal-slogan">永保青春的秘密，從粹究開始</p>
                  </div>
                  <div class="modal-introduce px-14 d-flex mb-6 mb-md-0">
                    <div class="pe-18 mb-6 mb-md-0">
                      <p class="text-primary-800">STAR TRAVEL 為 KK 公司宇宙旅行的購票網站。<br>
                        主要從地球出發，目的地包含月球、火星、水星、木星；未來太空轉運站建<br>置完畢，將再擴增目的地土星和金星。</p>
                    </div>
                    <div class="modal-principle box-shadow-left ps-6 text-primary-600">
                      <p class="mb-2">設計原則：宇宙旅行、深色背景、強烈視覺效果</p>
                      <p>開發方式：Bootstrap、Javascript、RWD</p>
                    </div>
                    <div class="modal-principle-mobile d-md-none text-primary-600 py-6 text-center">
                      <p class="mb-1">設計原則</p>
                      <p class="mb-6">宇宙旅行、深色背景、強烈視覺效果</p>
                      <p class="mb-1">開發方式</p>
                      <p >Bootstrap、Javascript、RWD</p>
                    </div>
                  </div>
                </div>
                <div class="py-10 py-md-20">
                  <ul>
                    <li class="text-center mb-14">
                      <img class="mb-4 mb-md-6 rounded-5" src="/assets/images/modal-image1.png" alt="主視覺">
                      <h4 class="fs-4 text-primary-800 mb-2 mb-md-4">主視覺</h4>
                      <p class="text-primary-600">可直接設定日期、起迄星球、張數，快速查詢可購買的票券。</p>
                    </li>
                    <li class="text-center">
                      <img class="mb-4 mb-md-6 rounded-5" src="/assets/images/modal-image1.png" alt="主視覺">
                      <h4 class="fs-4 text-primary-800 mb-2 mb-md-4">推薦查詢</h4>
                      <p class="text-primary-600">給予最快起飛，以及最熱門的景點推薦，協助使用者進行選擇。</p>
                    </li>
                  </ul>
                  
                </div>
              </div>
            </div>
          </div>

          <!-- card-4 -->
          <li class="col-10 col-md-6 mb-12 mb-md-20">
            <div data-bs-toggle="modal" data-bs-target="#exampleModal-4">
              <a href="#">
                <img class="mb-4 rounded-3" src="/assets/images/work-image4.png" alt="美美美早餐店 POS 機 UI Design" />
                <h5 class="card-title mb-2 ms-4">美美美早餐店 POS 機 UI Design</h5>
                <p class="card-text mb-4 mb-md-6 ms-4">
                  訂單送單一目瞭然，自動報表分析好輕鬆
                </p>
              </a>   
            </div>                     
            <ul class="card-tag d-flex gap-2 gap-md-4 ms-4">
              <li >
                <a class="tag rounded-pill px-3 py-1" href="#">APP設計</a>
              </li>
              <li >
                <a class="tag rounded-pill px-3 py-1" href="#">iOS</a>
              </li>
              <li >
                <a class="tag rounded-pill px-3 py-1" href="#">React</a>
              </li>
            </ul>
          </li>
          <!-- card-4 Modal -->
          <div class="modal fade" id="exampleModal-4" tabindex="-1" aria-labelledby="exampleModalLabel-4" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div class="px-8 px-md-10 ms-auto pt-8">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-head py-6 py-md-1">
                  <div class="text-center  mb-6 mb-md-10">
                    <h3 class="modal-title fs-3 text-primary-700" id="exampleModalLabel">              <h5 class="card-title mb-2">美美美早餐店 POS 機 UI Design</h5>
                    </h3>
                    <p class="modal-slogan">訂單送單一目瞭然，自動報表分析好輕鬆</p>
                  </div>
                  <div class="modal-introduce px-14 d-flex mb-6 mb-md-0">
                    <div class="pe-18 mb-6 mb-md-0">
                      <p class="text-primary-800">STAR TRAVEL 為 KK 公司宇宙旅行的購票網站。<br>
                        主要從地球出發，目的地包含月球、火星、水星、木星；未來太空轉運站建<br>置完畢，將再擴增目的地土星和金星。</p>
                    </div>
                    <div class="modal-principle box-shadow-left ps-6 text-primary-600">
                      <p class="mb-2">設計原則：宇宙旅行、深色背景、強烈視覺效果</p>
                      <p>開發方式：Bootstrap、Javascript、RWD</p>
                    </div>
                    <div class="modal-principle-mobile d-md-none text-primary-600 py-6 text-center">
                      <p class="mb-1">設計原則</p>
                      <p class="mb-6">宇宙旅行、深色背景、強烈視覺效果</p>
                      <p class="mb-1">開發方式</p>
                      <p >Bootstrap、Javascript、RWD</p>
                    </div>
                  </div>
                </div>
                <div class="py-10 py-md-20">
                  <ul>
                    <li class="text-center mb-14">
                      <img class="mb-4 mb-md-6 rounded-5" src="/assets/images/modal-image1.png" alt="主視覺">
                      <h4 class="fs-4 text-primary-800 mb-2 mb-md-4">主視覺</h4>
                      <p class="text-primary-600">可直接設定日期、起迄星球、張數，快速查詢可購買的票券。</p>
                    </li>
                    <li class="text-center">
                      <img class="mb-4 mb-md-6 rounded-5" src="/assets/images/modal-image1.png" alt="主視覺">
                      <h4 class="fs-4 text-primary-800 mb-2 mb-md-4">推薦查詢</h4>
                      <p class="text-primary-600">給予最快起飛，以及最熱門的景點推薦，協助使用者進行選擇。</p>
                    </li>
                  </ul>
                  
                </div>
              </div>
            </div>
          </div>

          <!-- card-5 -->
          <li class="col-10 col-md-6 mb-12 mb-md-20">
            <div data-bs-toggle="modal" data-bs-target="#exampleModal-5">
              <a href="#">
                <img class="mb-4 rounded-3" src="/assets/images/work-image5.png" alt="美美美早餐店 POS 機 UI Design" />
                <h5 class="card-title mb-2 ms-4">電影院訂票系統</h5>
                <p class="card-text mb-4 mb-md-6 ms-4">
                  三步驟完成訂票，電腦手機都支援
                </p>
              </a>   
            </div>                     
            <ul class="card-tag d-flex gap-2 gap-md-4 ms-4">
              <li >
                <a class="tag rounded-pill px-3 py-1" href="#">APP設計</a>
              </li>
              <li >
                <a class="tag rounded-pill px-3 py-1" href="#">iOS</a>
              </li>
              <li >
                <a class="tag rounded-pill px-3 py-1" href="#">React</a>
              </li>
            </ul>
          </li>
          <!-- card-5 Modal -->
          <div class="modal fade" id="exampleModal-5" tabindex="-1" aria-labelledby="exampleModalLabel-5" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div class="px-8 px-md-10 ms-auto pt-8">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-head py-6 py-md-1">
                  <div class="text-center  mb-6 mb-md-10">
                    <h3 class="modal-title fs-3 text-primary-700" id="exampleModalLabel">              <h5 class="card-title mb-2">電影院訂票系統</h5>
                    </h3>
                    <p class="modal-slogan">三步驟完成訂票，電腦手機都支援</p>
                  </div>
                  <div class="modal-introduce px-14 d-flex mb-6 mb-md-0">
                    <div class="pe-18 mb-6 mb-md-0">
                      <p class="text-primary-800">STAR TRAVEL 為 KK 公司宇宙旅行的購票網站。<br>
                        主要從地球出發，目的地包含月球、火星、水星、木星；未來太空轉運站建<br>置完畢，將再擴增目的地土星和金星。</p>
                    </div>
                    <div class="modal-principle box-shadow-left ps-6 text-primary-600">
                      <p class="mb-2">設計原則：宇宙旅行、深色背景、強烈視覺效果</p>
                      <p>開發方式：Bootstrap、Javascript、RWD</p>
                    </div>
                    <div class="modal-principle-mobile d-md-none text-primary-600 py-6 text-center">
                      <p class="mb-1">設計原則</p>
                      <p class="mb-6">宇宙旅行、深色背景、強烈視覺效果</p>
                      <p class="mb-1">開發方式</p>
                      <p >Bootstrap、Javascript、RWD</p>
                    </div>
                  </div>
                </div>
                <div class="py-10 py-md-20">
                  <ul>
                    <li class="text-center mb-14">
                      <img class="mb-4 mb-md-6 rounded-5" src="/assets/images/modal-image1.png" alt="主視覺">
                      <h4 class="fs-4 text-primary-800 mb-2 mb-md-4">主視覺</h4>
                      <p class="text-primary-600">可直接設定日期、起迄星球、張數，快速查詢可購買的票券。</p>
                    </li>
                    <li class="text-center">
                      <img class="mb-4 mb-md-6 rounded-5" src="/assets/images/modal-image1.png" alt="主視覺">
                      <h4 class="fs-4 text-primary-800 mb-2 mb-md-4">推薦查詢</h4>
                      <p class="text-primary-600">給予最快起飛，以及最熱門的景點推薦，協助使用者進行選擇。</p>
                    </li>
                  </ul>
                  
                </div>
              </div>
            </div>
          </div>

          <!-- card-6 -->
          <li class="col-10 col-md-6 mb-12 mb-md-20">
            <div data-bs-toggle="modal" data-bs-target="#exampleModal-6">
              <a href="#">
                <img class="mb-4 rounded-3" src="/assets/images/work-image6.png" alt="美美美早餐店 POS 機 UI Design" />
                <h5 class="card-title mb-2 ms-4">巧克巧克形象官網設計</h5>
                <p class="card-text mb-4 mb-md-6 ms-4">
                  給予最快起飛，以及最熱門的景點推薦，協助使用者進行選擇。
                </p>
              </a>   
            </div>                     
            <ul class="card-tag d-flex gap-2 gap-md-4 ms-4">
              <li >
                <a class="tag rounded-pill px-3 py-1" href="#">APP設計</a>
              </li>
              <li >
                <a class="tag rounded-pill px-3 py-1" href="#">iOS</a>
              </li>
              <li >
                <a class="tag rounded-pill px-3 py-1" href="#">React</a>
              </li>
            </ul>
          </li>
          <!-- card-6 Modal -->
          <div class="modal fade" id="exampleModal-6" tabindex="-1" aria-labelledby="exampleModalLabel-6" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div class="px-8 px-md-10 ms-auto pt-8">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="modal-head py-6 py-md-1">
                  <div class="text-center  mb-6 mb-md-10">
                    <h3 class="modal-title fs-3 text-primary-700" id="exampleModalLabel">              <h5 class="card-title mb-2">巧克巧克形象官網設計</h5>
                    </h3>
                    <p class="modal-slogan">給予最快起飛，以及最熱門的景點推薦，協助使用者進行選擇。</p>
                  </div>
                  <div class="modal-introduce px-14 d-flex mb-6 mb-md-0">
                    <div class="pe-18 mb-6 mb-md-0">
                      <p class="text-primary-800">STAR TRAVEL 為 KK 公司宇宙旅行的購票網站。<br>
                        主要從地球出發，目的地包含月球、火星、水星、木星；未來太空轉運站建<br>置完畢，將再擴增目的地土星和金星。</p>
                    </div>
                    <div class="modal-principle box-shadow-left ps-6 text-primary-600">
                      <p class="mb-2">設計原則：宇宙旅行、深色背景、強烈視覺效果</p>
                      <p>開發方式：Bootstrap、Javascript、RWD</p>
                    </div>
                    <div class="modal-principle-mobile d-md-none text-primary-600 py-6 text-center">
                      <p class="mb-1">設計原則</p>
                      <p class="mb-6">宇宙旅行、深色背景、強烈視覺效果</p>
                      <p class="mb-1">開發方式</p>
                      <p >Bootstrap、Javascript、RWD</p>
                    </div>
                  </div>
                </div>
                <div class="py-10 py-md-20">
                  <ul>
                    <li class="text-center mb-14">
                      <img class="mb-4 mb-md-6 rounded-5" src="/assets/images/modal-image1.png" alt="主視覺">
                      <h4 class="fs-4 text-primary-800 mb-2 mb-md-4">主視覺</h4>
                      <p class="text-primary-600">可直接設定日期、起迄星球、張數，快速查詢可購買的票券。</p>
                    </li>
                    <li class="text-center">
                      <img class="mb-4 mb-md-6 rounded-5" src="/assets/images/modal-image1.png" alt="主視覺">
                      <h4 class="fs-4 text-primary-800 mb-2 mb-md-4">推薦查詢</h4>
                      <p class="text-primary-600">給予最快起飛，以及最熱門的景點推薦，協助使用者進行選擇。</p>
                    </li>
                  </ul>
                  
                </div>
              </div>
            </div>
          </div>
        </ul>
      </div>
      <nav aria-label="Page navigation">
        <ul class="d-flex justify-content-center gap-4 fs-4">
          <li class="page-item page-active" aria-current="page">
            <a class="page-link" href="###">1</a>
          </li>
          <li class="page-item"><a class="page-link" href="###">2</a></li>
          <li class="page-item"><a class="page-link" href="###">3</a></li>
        </ul>
      </nav>
    </section>


    <%- include('./layout/footer'); -%>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
