<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>服務項目</title>
</head>
<body>
    <%- include('./layout/header'); -%>
    
    <section class="pt-10 pb-20 py-md-30">
      <h2 class="title d-flex justify-content-center fw-semibold fs-4 fs-md-2 lh-sm mb-10 mb-md-20">
        <span class="title-text service-title-text">服務項目</span>
      </h2>
      <%- include('./layout/serviceCard'); -%>
    </section>

    <section class="py-20 py-md-30">
      <h2 class="title d-flex justify-content-center fw-semibold fs-4 fs-md-2 lh-sm mb-10 mb-md-20">
        <span class="title-text service-title-text">服務流程</span>
      </h2>
      
    </section>

    <%- include('./layout/footer'); -%>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script type="module" src="../main.js"></script>
</body>
</html>